$font-size: 10px;
$color-white: #fff;
$color-brand: #489846;
$color-nav-hover: #ff7286;
$color-sec-title: #a3dea2;
$color-feature-button: #3e613d;
$color-feature-background-1: #a8e8e1;
$color-feature-background-2: #f9f9b5;
$color-comment-border: #c7e5ec;
$color-contact-background: #e8efee;
$color-footer-background: #35564b;
