@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 10px;
  font-family: 微軟正黑體; }
  @media only screen and (max-width: 414px) {
    html {
      font-size: 9px; } }

body {
  padding: 5rem 4rem 3rem;
  border-top: 6px solid #fad312; }
  @media only screen and (max-width: 414px) {
    body {
      padding: 4rem 2.5rem 2rem; } }

h1 {
  font-size: 3.6rem;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 414px) {
    h1 {
      font-size: 3rem; } }

p {
  font-size: 1.4rem;
  margin: 0.5rem 0; }
  @media only screen and (max-width: 414px) {
    p {
      font-size: 1.2rem; } }
  p.need {
    font-size: 1.6rem;
    margin: 2.5rem 0 5rem; }

label {
  display: block;
  font-size: 2rem;
  margin-bottom: 2rem; }

input {
  display: block;
  width: 29rem;
  height: 2.3rem;
  color: #d0d0d0;
  border: 1px solid #d0d0d0; }
  @media only screen and (max-width: 414px) {
    input {
      width: 24rem; } }

.input-group {
  margin: 2.5rem 0 4.5rem; }
  .input-group.radio .radio-group {
    display: flex;
    align-items: center;
    margin: 2rem 0; }
  .input-group.radio input {
    width: auto;
    display: inline-block;
    margin-right: 1rem; }
  .input-group.radio label {
    display: inline-block;
    margin-bottom: 0; }
  .input-group.other label {
    margin-bottom: 0; }
  .input-group.other p {
    margin-bottom: 2.5rem; }

.need {
  color: #e74149; }

.submit {
  background-color: #fad312;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  margin: 1rem 0 2rem; }
